[submodule "Osa2/Phonebook"]
	path = Osa2/Phonebook
	url = C:/Users/kirpt2/OneDrive/OneDrive - PORIN KAUPUNKI/Documents/Programmieren/UTU/Web-ohjelmointi/2/Phonebook
[submodule "Osa2/Kurssiappi"]
	path = Osa2/Kurssiappi
	url = C:/Users/kirpt2/OneDrive/OneDrive - PORIN KAUPUNKI/Documents/Programmieren/UTU/Web-ohjelmointi/2/Kurssiappi
[submodule "Osa3/phonebook_node"]
	path = Osa3/phonebook_node
	url = C:/Users/kirpt2/OneDrive/OneDrive - PORIN KAUPUNKI/Documents/Programmieren/UTU/Web-ohjelmointi/phonebook_node
